@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/** CSS--HEADER **/
header{
    background-color: #222222;
    width: 100%;
    height: 100px;
}
.containerHeader{
    display: flex;
    justify-content:space-between;
}
.divLogo{
    width: 234px;
    height: 80px;

}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.navBar{
    display: flex;
    margin-top: 40px;
    margin-right: 20px;
    width: 284px;
    height: 19px;
}
.navBar ul{
    list-style: none;
    display: flex;
    width: 450px;
    justify-content:space-evenly;
}
.navBar ul li a{
    text-decoration: none;
    color: #f3f3f3;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}

/** CSS--MAIN **/
main{
    width: auto;
    height: 678px;
}
.container{
    display: flex;
    justify-content: center;
}
.delivery{
    background-image: url(../img/delivery.jpg);
    width: 490px;
    height: 350px;
    margin: 35px 0px 35px 19px;
}
p{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #FC200C;
    margin: 20px 0px 0px 20px;
}
span{
    color: #f3f3f3;
}

.containerHijo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 35px 0px 35px 19px;
    width: 490px;
    height: 350px;
}
.tituloTop5{
    width: 100%;
    text-align: center;
}
.imgPizzaTorre{
    width: 92px;
    height: 129px;

}
.listaTop5{
    width: 385px;
    height: 250px;

}
.tituloPizzaTop{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.top5{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top5 ul li{
    font-family: 'Roboto', sans-serif;
}
/** CSS--FOOTER **/
footer{
    background-color: #222222;
    width: 100%;
    height: 150px;
}
.navFooter{
    margin: 19px 0 19px 20px;
}
.navFooter ul{
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navFooter ul li a{
    text-decoration: none;
    color: #f3f3f3;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}
.divLogoFooter{
    margin: 35px 42px 35px 0px;

}
