@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/** CSS--HEADER **/ 

.txtHeaderTop{
    color: #F3F3F3;
    background-color: #222222;

}
.divLogo{
    background-color: #F0A83E;
}

/** CSS--MAIN **/ 

.tituloImgInicio{
    color: #3C2313;
}
.precio{
    color: #F0A83E;
}

/** CSS--FOOTER **/
footer{
    background-color: #3C2313;
}
.listaDatos{
    background-color: #3C2313;
}
.divUltP{
    background-color: #222222;
    color: white;
    text-align: center;
}